body {
    font-family: "Courier New", sans-serif;
    background-color: dimgray;
    background-image: url("Background.png");
}
header{
    background-color: black;
    margin: auto;
    color: grey;
    animation: h1colour 4s infinite alternate;
    text-align: center;
    font-size: 40px;
}
@keyframes h1colour {
    from {background-color: black;}
    to {background-color: white;}
}
.info{
    height: 100px;
    width: 100px;
    background-color: azure;
    border: 10px solid aqua;
    alignment: right;
    align-self: center;
    text-align: right;
}
h2{
    background-color: cornflowerblue;
    color: white;
}
h2:hover{
    color: black;
}
h3{
    color: pink;
}
h3.clicked{
    color: red;
}