body {
    font-family: "Courier New", sans-serif;
    background-color: dimgray;
    background-image: url("Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: white;
    margin: auto;
    color: black;
    text-align: center;
    font-size: 40px;
}
.info{
    height: 100px;
    width: 100px;
    background-color: azure;
    border: 10px solid aqua;
    alignment: right;
    align-self: center;
    text-align: right;
}
h2{
    background-color: cornflowerblue;
    color: white;
}
h2:hover{
    color: black;
}
h3{
    color: pink;
}
h3.clicked{
    color: red;
}
.Intro1 {
    position:relative;
    line-height:2em;
    overflow:hidden;
    width:700px;
    margin:0 auto;
    animation-name: showHide;
    animation-duration: 2s;
}
.Intro2 {
    position:relative;
    line-height:2em;
    overflow:hidden;
    width:500px;
    margin:0 auto;
    animation-name: showHide2;
    animation-duration: 4s;
}
.Github{
    position: relative;
}
.Github img {
    width: 34px;
    height: 34px;
    position: absolute;
    top: -60px;
    left: 30%;
    animation-name: showHide2;
    animation-duration: 6s;
}

@keyframes showHide {
    0% {opacity:0}
    40% {opacity:0.2}
    60% {opacity:0.4}
    100% {opacity:1}
}
@keyframes showHide2 {
    0% {opacity:0}
    40% {opacity:0}
    60% {opacity:0.4}
    100% {opacity:1}
}
@keyframes showHide3 {
    0% {opacity:0}
    40% {opacity:0}
    60% {opacity:0}
    80% {opacity:0.2}
    100% {opacity:1}
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.95); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}
.tutorial {
    position: absolute;
    opacity: initial;
    top: 20%;
    left: 20%;
}
